header {
    background: white;
    height: 70px;
    width: 100%;
    border-bottom: 1px solid #CCCCCC;
    display: flex;
}
header .logo {
    background: url("../images/logo.png") no-repeat;
    left: 20px;
    height: 100%;
    width: inherit;
}
#api_status {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background: #cccccc;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-right: 30px;
}
#api_status.available {
    background: #ff545f;
}
